repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: scripts/pre-commit/cargo-fmt.sh
        language: system
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        entry: scripts/pre-commit/cargo-clippy.sh
        language: system
        pass_filenames: false
      - id: cargo-test
        name: cargo test
        entry: scripts/pre-commit/cargo-test.sh
        language: system
        pass_filenames: false
